.social-login
    button.social-login--github
        span
            <img src="https://img.icons8.com/nolan/20/github.png"/>
        |login with github
    button.social-login--facebook
        span
            img(src="https://img.icons8.com/nolan/20/facebook-circled.png")
        |login with facebook
