h1 TXT2HTML

form.form-container(action="/upload" ,method="post",  enctype="multipart/form-data")
    input(type="file", id="file", name="txtFile", required=true, accept=".txt")
    input(type="submit", value="Convert!")