include mixins
doctype html
html
    head
        title #{title} | #{siteName}
    body
        h1 #{pageTitle}
        .videos
            each video in videos
                +videoBlock({
                    title:video.title,
                    id:video.id,
                })
