extends templates/layout

block content
    h1 Add Movie
    .form-container
        form(action="/addMovie", method="post")
            input(type="text", name="title", placeholder="title", required=true)
            textarea(name="synopsis", placeholder="synopsis", required=true)
            input(type="text", name="genres", placeholder="genres", required=true)
            input(type="submit", value="add Movie")